* {
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  background: #eef2f7;
  display: flex;
  justify-content: center;
  padding: 30px;
}

.app {
  background: white;
  width: 450px;
  padding: 20px;
  border-radius: 12px;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

.card {
  background: #f9fafb;
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 15px;
}

input, select, button {
  width: 100%;
  padding: 10px;
  margin-top: 8px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

button {
  background: #4f46e5;
  color: white;
  border: none;
  cursor: pointer;
}

button:disabled {
  opacity: 0.6;
}

.summary {
  display: flex;
  justify-content: space-between;
  margin: 15px 0;
}

.box {
  background: #f1f5f9;
  padding: 10px;
  width: 32%;
  text-align: center;
  border-radius: 8px;
}

.actions {
  display: flex;
  gap: 10px;
  margin-bottom: 15px;
}

.danger {
  background: #dc2626;
}

.month-picker {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.month-picker label {
  margin-bottom: 5px;
  font-weight: 600;
  color: #4f46e5;
}

.month-picker input[type="month"] {
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
  outline: none;
  font-size: 16px;
  transition: all 0.3s;
}

.month-picker input[type="month"]:focus {
  border-color: #4f46e5;
  box-shadow: 0 0 5px rgba(79, 70, 229, 0.5);
}

ul {
  list-style: none;
  padding: 0;
}

li {
  background: #f8fafc;
  padding: 10px;
  margin: 8px 0;
  border-left: 5px solid #4f46e5;
  border-radius: 6px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.expense-actions {
  display: flex;
  align-items: center;
  gap: 5px;
}

.edit {
  background: #facc15;
  padding: 4px 8px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 12px;
}

.edit:hover {
  background: #eab308;
}

.delete {
  background: #ef4444;
  padding: 4px 8px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 12px;
}

.delete:hover {
  background: #dc2626;
}
